---
serverinventory:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%    set list = item.split(",") %}
  - Requested_By: '{{ list[0]|trim() }}'
    Category: '{{ list[1]|trim() }}'
    CI: '{{ list[2]|trim() }}'
    Assignment_Group: '{{ list[3]|trim() }}'
    Assigned_To: '{{ list[4]|trim() }}'
    Short_Description: '{{ list[5]|trim() }}'
    Description: '{{ list[6]|trim() }}'
    Planning_Start_date: '{{ list[7]|trim() }}'
    Planning_End_date: '{{ list[8]|trim() }}'
    Type: '{{ list[9]|trim() }}'
{%   endif %}
{% endfor %}
